<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sk.durco.promanagement.mapper.TestMapper">
    <insert id="insert">
        INSERT INTO `table_name` (`a`, `b`) VALUES ('1', '1');
    </insert>
</mapper>